<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contenido</title>
    <%- include("partials/bootstrapcss") %>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <%- include("partials/hero-content") %>
    <%- include("partials/article-detail") %>

 

    <%- include("partials/footer")%>
    <%- include("partials/bootstrapjs") %>
  </body>
</html>