<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
    <%- include("partials/bootstrapcss") %>
    <!-- CSS Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="container m-auto">
      
      <div class="d-flex justify-content-between m-3 align-items-center text-center">
        <h2>Articles</h2>
        <a href="/admin/nuevo"><button class="btn btn-success btn-sm">Nuevo</button></a>
      </div>

      <table class="tble border shadow table-striped">
        <thead>
          <tr>
            <th scope="col-1">Id</th>
            <th scope="col-2">Title</th>
            <th scope="col-3">Content</th>
            <th scope="col-2">Image</th>
            <th scope="col-1">createdAt</th>
            <th scope="col-2">Author</th>
          </tr>
        </thead>
        <tbody>
          <% let counter= 0%>
          <% for (const article of articles) { %>
          <tr <% if (counter %2 ===0){%> class= "grey-background" <%}; counter++; %> >

            <th scope="row"><%= article.id %></th>
            <td><%= article.title %></td>
            <td><%= article.content %></td>
            <td><img src="<%=article.image %>" alt=""></td>
            <td><%= article.createdAt %></td>
            <td><%= article.author %></td>
            <td class="text-center">
              <a href="/usuarios/editar/<%= article.id %>"> <button class="btn btn-primary btn-sm" id="btn-editar">Editar</button></a>
              <a href="/usuarios/eliminar/<%= article.id %>"> <button class="btn btn-danger btn-sm">Eliminar</button></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <%- include("partials/footer") %>

    <%- include("partials/bootstrapjs") %>
  </body>
</html>
