<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contenido</title>
    <%- include("partials/bootstrapcss") %>
        <!-- CSS Font Awesome -->
       
  </head>
  <body>
    <%- include("partials/navbar") %>
    <%- include("partials/hero-content") %>
    <%- include("partials/article-detail") %>

    <!-- <div id="proyectos-size">
      <div class="proyectos-content">
        <ul id="proyectos-list">
          <l1>
            <h2 class="proyectos-title">Sectores</h2>
          </l1>
    
          <li>
            
            <div id="pic-ind" alt="Sector Industrial Fotovoltaico"></div>
            <p>Actualmente México vive una serie de reformas estructurales que hacen que la industria en México se transforme con raídez. Es aquí donde se crea la pauta para que las industrias inviertan en la reparación y modernización de sus instalaciones y
              encuentren un estímulo para generar su propia energía.<br>
              <a href="" onclick="showMore()">Ver mas</a></p>
            <div class="texto-oculto">hdsafligsdflgasldgfalisgfilasdugfoulaisgyf</div>
          </li> -->
 

    <%- include("partials/footer")%>
    <%- include("partials/bootstrapjs") %>
  </body>
</html>