<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <%- include("partials/bootstrapcss") %>
        <!-- CSS Font Awesome -->
       
  </head>
  <body>
    //hola
    <%- include("partials/navbar") %>
    <%- include("partials/hero") %>
   
    <div class="home-container m-auto">
      <div class="text">

      <% for (const article of articles) { %>
        <h4><a href="/articulos/<%=article.id%>"><%=article.title%></a></h4>
        <span>Creado por: <%=article.author%> el <%=article.createdAt%></span>
        <hr>
        <%}%>
      </div>
    </div>
    <%- include("partials/footer")%>
    <%- include("partials/bootstrapjs") %>
  </body>
</html>