<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/bootstrapcss") %>
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <%- include("partials/hero") %>

    <form
    class="container"
    method="POST"
    action="/login"
  >
  <br>
  <h2>Login</h2>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" name="email" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
    <!-- se crea un boton para registrarse con un a que redirige al form de registro -->
    <a href="/registro" class="btn btn-secondary">Registrarse como autor</a> 
    <a href="/registro" class="btn btn-secondary">Registrarse como lector</a>
  </form>   
      <%- include("partials/footer")%>
      <%- include("partials/bootstrapjs") %>
    
  </body>
</html>
